chainlit==2.2.0
lancedb==0.19.0
langchain-community==0.3.17
langchain-openai==0.3.4
langgraph==0.2.70
Levenshtein==0.26.1
llama-index==0.12.16
sentence-transformers==3.4.1
tantivy==0.22.0
tinycss2==1.4.0
